<!DOCTYPE html>
<html>
  <head>
    <title>JobListing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="contianer-fluid">
      <%= render "common/nav"%>
      <%= render "common/flash"%>
      <%= yield%>
      <%= render "common/foot" %>
    </div>

  </body>
</html>
